<!-- <app-about-us></app-about-us> -->
<app-contact-us></app-contact-us>
 <!-- <app-my-order></app-my-order> -->
 <!-- <app-home></app-home>   -->
 <!-- <app-thankyou></app-thankyou> -->



 <!-- <app-intro-two></app-intro-two> -->
 <!-- <app-login></app-login>    -->
 <!-- <app-signup></app-signup>    -->
 <!-- <app-forgot-password></app-forgot-password>   -->




 <!-- <app-banner></app-banner> -->
 <!-- <app-products></app-products> -->
 <!-- <app-intro2></app-intro2>     -->
 <!-- <app-intro></app-intro> -->
<!-- <button class="btn btn-primary" routerLink='/bs-intro'>Click Me</button> -->